body {
  min-height: 100vh;
  background-image: url(https://i.imgur.com/seF1VQX.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  min-height: 100vh;
  font-family: 'Abel';
}

.App-header {
  display: flex;
  color: white;
}

p a {
  color: rgb(200, 200, 200, 1);
  text-decoration: none;
}